/* 
    Document   : style
    Created on : Mar 6, 2013, 1:03:26 AM
    Author     : carlosserrao
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #000000;
    text-align: justify;
}

p {
    font-family: Arial,monospace;
    color: #F8F8F8;
    font: Helvetica;
}
